@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

.container {
  display: flex;
  flex-direction: column;
}

.container .heat-map-dash {
}

.container .other_plots {
  display: flex;
  flex-direction: row;
}

select {
  background-color: #1f99cd;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  padding: 10px 30px 10px 10px;

  outline: none;
}
