@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}
.container .header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  font-size: x-large;
  margin-bottom: 20px;
}

.dark .header {
  border: 1px solid rgb(97, 96, 96);
}

.container .header nav span {
  margin-left: 10px;
  font-size: xx-large;
}
.container .select_and_theme {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.container .select_and_theme .select_sky_train {
  display: flex;
  flex-direction: row;

  width: 50%;
  font-size: x-large;
}

.container .select_and_theme .select_sky_train label {
  align-self: center;
  margin-right: 25px;
}

.container .heat-map-dash {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.heat-map-dash:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dark .heat-map-dash {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.dark .heat-map-dash:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

.container .other_plots {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.dark .other_plots {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.dark .other_plots:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}
.tab_nav {
  display: flex;
  flex-direction: row;
}
select {
  width: 80%;
  background-color: #1f99cd;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 0%;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  padding: 10px 30px 10px 10px;
  cursor: pointer;
  font-size: x-large;
  outline: none;
}
