.theme_switch {
  text-align: center;
  align-self: center;
  justify-self: center;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

/* Hide the checkbox input */
.toggle input {
  display: none;
}

/* Describe slider's look and position. */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: 0.4s;
  border-radius: 34px;
}

/* Describe the white ball's location 
      and appearance in the slider. */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: #1f99cd;
  transition: 0s;
  border-radius: 50%;
}

.theme_switch span {
  font-size: larger;

  text-align: center;
}

/* Modify the slider's background color to 
      green once the checkbox has been selected. */
input:checked + .slider {
  background-color: rgb(46, 45, 45);
}

/* When the checkbox is checked, shift the 
      white ball towards the right within the slider. */

input:checked + .slider:before {
  transform: translateX(26px);
}
